section{
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}
h1{
    font-size: 55px;
}
.half-width{
    width: 50%;
    padding: 20px 30px;
}
img{
    width: 70%;
    padding-left: 20px;
}

.color{
    color: darkmagenta;
}
.button{
    color: wheat;
    background-image: linear-gradient(blue, black);
    border-radius: 5px;
    padding: 5px 7px;
    text-decoration: none;
}
p{
    font-size: large;
    text-align: center;
 }
div{
    text-align: center;
}
.mission{
    text-align: center;
}
.h1-2nd{
    font-size: 60px;
    font-display: flex;
    padding-left: 400px
}
.box1{
    width: 30%;
    height: 30%; 
    float: left;
    margin: 5px;
    padding: 5px 5px;
}
.box2{
        width: 30%;
    height: 30%; 
    float: left;
    margin: 5px;
    padding: 5px 5px;
}
.box3{
    width: 30%;
    height: 30%; 
    float: left;
    margin: 5px;
    padding: 5px 5px;
}
.shape{
    background-image: url(images/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    position: left;
    background-size: 50%;
    margin-top: 60px;
    padding-top: 20px;
}
#codding{
    margin-top: 0px;
}
#code{
    margin-top: 10px;
    padding-top: 10px 20px;
}
footer{
   background-color: black;
   margin: 0;
   color: purple;
   padding: 10px;
}
.blue{
    color: blue;
}
.white{
    color: wheat;
    text-align: center;
}
#about{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px black;
    box-sizing: 90%;
    margin-left: 0px;
    border-radius: 5px;
}
hr{
        height: 1px;
        background-color: #ccc;
        border: none;
    }
    